.modal_form form div.form-group {
  label {
    margin-bottom: 5px;
  }
  p.help-block {
    font-size: smaller;
    text-align: center;
  }
}
.inline-block {
  display:inline-block;
}
.grey {
  color:grey;
}
.top-right {
  position: fixed;
  height: 30px;
  top: -100px;
  right: -80px;
}
.pad-top30{
  padding-top:30px;
}

/* Margins */

.mg-btm0 {
  margin-bottom: 0px;
}
.mg-lf0 {
  margin-left: 0px;
}
.mg-rt0 {
  margin-right: 0px;
}
.transparent-nav {
  border: none;
  background-color: transparent;
}

.btn-no-border {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  background: 0 0;
  padding: 14px 35px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: 2px solid;
  margin: 0 15px;

  &:hover {
    color: #95c800;
  }
}

.btn-green-border {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  background: 0 0;
  padding: 14px 35px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #95c800;
  border: 2px solid;
  margin: 0 15px;

  &:hover {
    color: rgba(0, 0, 0, .3);
  }
}

.header {
  a.add-restaurant-btn {
    width: 210px;
  }
}

.custom-modal {

  .modal-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .modal-header {
    border-bottom: none;
    text-align: center;

    h3.modal-title {
        font-weight: 300;
        text-align: center;
        padding: 5px 0px;
        display: block;
      span {
        display: block;
        width: 60px;
        height: 1px;
        background: #95C800;
        margin: 20px auto -16px auto;
      }
    } /* modal-title */
  }

  form {
    input:focus,select:focus,textarea:focus {
      outline: none;
      border: 1px solid #7CCB18;
      background: #ffffff;
      color: #7ccb18;
      font-size: 16px;
      font-weight: 300;
    }

    input[type='submit']{
        border: none;
        font: inherit;
        width: 100%;
        margin: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 20px;
        margin-top: 0px;
    }
  }

    div.map-location-picker {
      width:90%;
      height: 300px;
      margin-right: 0px;
      padding-right: 0px;
      margin-left: 30px;
    }

} /* custom-modal */


// infobox map
// address
.marker_info {
  span.type {
    color: #95a5a6;
  }
  span.address {
    margin-top: 10px;
  }
}

.no-results-panel {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.editable-food-menu {
  div.row {
    margin: auto 0px;
    div.food-type-group {
      min-height: 200px;
      max-height: 380px;
      min-width: 200px;
      width: 390px;
      border: 5px solid #f5f5f5;
      background-color: #2c3e50;

      h4 {
        width: 100%;
        color: #2ecc71;
        font-weight: 600;
        background-color: rgba(255, 255, 255, .2);
        padding: 10px;
        margin: 5px;
        text-align: center;
      }

      ul.list-group {
        a.list-group-item {
          background-color: transparent;
          color:#f5f5f5;
          border:none;
          padding: 0 15px;

          span.price {
            color: whitesmoke;
          }

          button {
            margin-left:5px;
            border: none;
          }
        }

      }
    }
  }
}

div.check-in-button-group {
  ul {
    width: 85px;
    border: none;
    box-shadow: none;
    li {
      height: 40px;
      width: 85px;
      a {
        padding: 5px;
        i {
          font-size: larger;
        }

      }
    }
  }
}

div.icon_descr_block {
  div.cols  {
    div.icons {
      span {
        text-align: center;
        a {
          color: white;
        }
      }
    }
  }
}

div#map_get_directions {
  height: 400px;
}

.search-box-right {
  float: right;
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
}

.header .search-map, .head .search-map{
  @extend .search-box-right;
  margin: 27px 30px;

  input {
    @extend .search-box-right;
    font-size: 13px;
    font-style: italic;
    padding: 0px 10px;

    &:focus {
      box-shadow: none;
      border: 1px solid #95c800;
    }
  }

  ul.dropdown-menu {
    width: 100%;
    max-width: 400px;
  }
}

i.search-map-spinner {
  float:right;
  color: #95a5a6;
  position: absolute;
  right: 80px;
  top: 35px;
  font-size: 18px;
  display: none;
}

@media (max-width: 734px) {
  i.search-map-spinner {
    right: 80px;
    top: 90px;
  }
}

.typeahead {
  .margin-small {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

    .text-type {
      float:right;
      font-size: 12px;
      color: #bdc3c7;
    }

    .text-address {
      font-size: 12px;
      font-weight: 300;
      color: #bdc3c7;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 310px;
    }
  }
}

.head .search-map {
  position: absolute;
  top: -8px;
  right: 50px;

}

.flat-red {
  color: #e74c3c;
}
.flat-blue {
  color: #3498db;
}
.flat-yellow {
  color: #f9bf3b;
}

div#filter-box {
  position: absolute;
  bottom: 10%;
  left: -30px;

  ul {
    list-style-type: none;
        li {
          background-color: rgba(255, 255, 255, 0.6);
          margin-top: 5px;
        }
    button {
            background-color: rgba(255, 255, 255, 0.6);

      width: 60px;
      font-size: 12px;
      text-align: center;
      padding: 3px;
      &.cat {
        -webkit-transition: -webkit-transform 3s ease-in-out;
        display: none;
      }
      i {
        font-size: 15px;
      }

    }
    #me-li {
      background-color: rgba(46, 204, 113, 0.8);
    }
    #loved-li{
      background-color: rgba(231, 76, 60, 0.8);
    }


  }
}

// reposition jquery growl from bottom right add margin top
.br {
  margin-bottom: 40px;
}

.categories-container {
 ul.categories-list {
    li {
      img {
        width:30px;
      }
        a {
          &:hover {
            transition: 0.3s;
          }
        }
    }

   li a.fine-dining:hover, li a.shop:focus {
     background: #F54100;
   }
   li a.fastfood:hover, li a.fastfood:focus {
     background: #00B2B3;
   }
   li a.buffet:hover, li a.buffet:focus {
     background: #FFAC00;
   }
   li a.steak-house:hover, li a.steak-house:focus {
     background: #62B50A;
   }
   li a.bbq-grill:hover, li a.bbq-grill:focus {
     background: #DD3D83;
   }
   li a.pizza-burgers:hover, li a.pizza-burgers:focus {
     background: #006EC6;
   }
   li a.filipino:hover, li a.filipino:focus {
     background: #AAC600;
   }
   li a.chinese:hover, li a.chinese:focus {
     background: red;
   }
   li a.japanese:hover, li a.japanese:focus {
     background: #0081DB;
   }
   li a.korean:hover, li a.korean:focus {
     background: #006BC3;
   }
 }
}

.header {
  .row {
    #location-box{
      display:inline-block;
      margin-top: 30px;
      select {
        width: 80%;
        display: inline-block;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #DDDDDD;
        background: #F9F9F9;
        padding: 0px 10px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}